.code {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #616161 #151515;
}

.code * {
    font-family: inherit !important;
    white-space: pre-wrap;
    word-wrap: break-word;
}