.searchBar {
    max-width: 180px;
    max-height: 29px;
    width: 100vw;
    min-width: 80px;
    font-size: 16px;
    display: flex;
    gap: 8px;
    padding: 4px 8px;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #151515;
    color: #616161;
    transition: 0.2s;
}

.searchBar:hover {
    background-color: #1a1a1a;
}

.noResults {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.results {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #616161;
}

.result {
    background: #151515;
    padding: 8px;
    border-radius: 8px;
    border: #616161 1px dashed;
    text-decoration: none;
}